{% extends "home/base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="flex flex-col  bg-neutral-700 h-screen">
        <div class="py-8 items-center justify-center flex flex-col bg-neutral-800">
            <div class="flex flex-col w-4/5 lg:w-2/3 items-center justify-center bg-neutral-800">
                <h2 class="text-5xl my-2 font-semibold text-white">Why Dogs?</h2>
                <p class="text-2xl text-white my-2">
                    Dogs, with their incredible sense of smell, can detect the scent of a missing person from afar, even if that person is hidden by bushes or other obstacles.
                    This allows them to excel in finding individuals during search and rescue missions.
                </p>
                <img class="max-h-96 mx-auto my-3 rounded-lg"
                     src="{{ siteinfo.about_photo_1.url }}"
                     alt="dog">
            </div>
        </div>
        <div class="flex flex-col py-8 items-center justify-center bg-neutral-600">
            <div class="flex flex-col w-4/5 lg:w-2/3 items-center justify-center bg-neutral-600">
                <h2 class="text-5xl my-2 font-semibold text-white">It Takes a Village.</h2>
                <p class="my-2 text-2xl text-white">
                    Training a dog is not a solo endeavor. It requires the collective effort of numerous individuals investing countless hours in diverse training activities.
                    This collaborative commitment is essential to attaining the proficiency necessary for a qualified team capable of aiding in the search for a missing person.
                </p>
                <img class="max-h-96 my-3 mx-auto rounded-lg"
                     src="{{ siteinfo.about_photo_2.url }}"
                     alt="Zander">
            </div>
        </div>
        <div class="flex flex-col items-center justify-center py-8 bg-neutral-800">
            <div class="flex flex-col w-4/5 lg:w-2/3 items-center justify-center bg-neutral-800">
                <h2 class="text-5xl my-2 font-semibold text-white">Why do they do it?</h2>
                <p class="text-2xl my-2 text-white">
                    Search dogs see their job not as work but instead as a game that they love more than anything else.
                    When the dog finds what they are looking for they are rewarded with a prized toy or invaluable treat.
                </p>
                <img class="max-h-96 my-3 mx-auto rounded-lg"
                     src="{{ siteinfo.about_photo_3.url }}"
                     alt="kage">
            </div>
        </div>
    </div>
{% endblock %}
