{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="items-center p-8 text-center text-black">
        <h1 class="mb-5 text-4xl font-bold">Contact Us</h1>
        <ul>
            <li class="mb-5">
                <h2 class="mb-1 text-xl font-semibold">Call Us:</h2>
                {{ siteinfo.dispatch_number }}
            </li>
            <li class="mb-5">
                <h2 class="mb-1 text-xl font-semibold">Mailing Address:</h2>
                {{ siteinfo.mailing_address }}
            </li>
            <li class="mb-5">
                <h2 class="mb-1 text-xl font-semibold">Direct Email Inquiries to:</h2>
                {{ siteinfo.team_email }}
            </li>
        </ul>
    </div>
{% endblock %}
