{% extends "home/base.html" %}
{% load static %}
{% load partials %}
{% block content %}
    <div class="h-full w-full">
        <div class="flex h-full w-full items-center justify-center bg-stone-600">
            <div id="donate_gallery"
                 class="relative flex h-auto w-auto min-w-full flex-col"
                 data-carousel-interval="7000"
                 data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-64 overflow-hidden rounded-lg object-top sm:min-h-32 lg:h-96 lg:min-h-[50vh]">
                    <!-- Item 1 -->
                    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                        <img src="{{ siteinfo.donate_photo_3.url }}"
                             class="absolute left-1/2 top-1/2 block h-auto -translate-x-1/2 -translate-y-1/2"
                             alt="">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
                        <img src="{{ siteinfo.donate_photo_2.url }}"
                             class="absolute left-1/2 top-1/2 block h-auto -translate-x-1/2 -translate-y-1/2"
                             alt="">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-1000 ease-in-out" data-carousel-item>
                        <img src="{{ siteinfo.donate_photo_1.url }}"
                             class="absolute left-1/2 top-1/2 block h-auto -translate-x-1/2 -translate-y-1/2"
                             alt="">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ siteinfo.donate_photo_4.url }}"
                             class="absolute left-1/2 top-1/2 block h-auto max-w-full -translate-x-1/2 -translate-y-1/2"
                             alt="">
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ siteinfo.donate_photo_5.url }}6
                            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex min-h-96 flex-col items-center justify-center bg-misarbrown py-8 lg:py-[72px]">
            <div class="flex w-5/6 flex-col text-center lg:w-3/4">
              <h2 class="inset-0 pb-2 pt-3 font-serif text-5xl font-bold text-misarcream">Our Mission</h2>
              <p class="inset-0 pb-3 text-xl text-misarcream md:text-2xl">{{ siteinfo.mission_statement }}</p>
              <hr class="md:40 mx-auto my-4 h-1 w-32 rounded border-0 bg-misargray400 dark:bg-misargray400 md:my-10">
              <h2 class="inset-0 pb-2 pt-3 font-serif text-5xl font-bold text-misarcream">Our Team</h2>
              <p class="inset-0 pb-3 text-xl text-misarcream md:text-2xl">{{ siteinfo.description }}</p>
            </div>
        </div>
        <div class="my-6 flex h-80 w-full flex-col items-center justify-center  bg-misargray400 px-4 py-8 text-center">
          <h2 class="pt-4 font-serif text-5xl font-bold text-stone-900">Emergency Dispatch</h2>
          <h4 class="font-[Sedan SC] mb-3 p-4 text-2xl text-stone-700 sm:mx-auto sm:px-6 md:mx-auto md:px-8 lg:mx-32 lg:px-12 xl:mx-64 xl:px-16">
              For Immediate Dispatch of K9 Teams:
          </h4>
          <div class="flex items-center justify-center text-center">
            <a href="tel:18008185645">
                <button class="mb-4 flex w-auto items-center justify-center rounded bg-misargreen px-4 py-3 text-center  text-xl font-bold text-white hover:bg-red-700 lg:w-56">
                    {{ siteinfo.dispatch_number }}
                </button>
            </a>
          </div>
            <p class="pb-3 font-bold text-red-800">
                    *If you have reached this site to report an emergency, please call 911 immediately.
            </p>
        </div>
        <div class="max-h-1/6 align-items-center flex flex-col flex-wrap justify-center bg-stone-700 px-8 py-2 text-center lg:py-[72px]">
          <h2 class="py-4 pb-8 flex flex-col font-serif text-5xl font-bold text-misarcream">Search Specialties</h2>
          <div class="align-items-center py-2 px-auto mx-auto grid grid-cols-2 place-items-center justify-center gap-16 text-center sm:grid-cols-2 md:grid-cols-3">
              {% for spec in search_spec %}
                  <!-- Also the Modal Toggle -->
                  <figure hx-get="{% url 'icon_modal' spec.id %}"
                          hx-trigger="click"
                          hx-target="#modal-body"
                          hx-swap="innerHTML transition:true"
                          class="group relative m-2 cursor-pointer items-center justify-center rounded-lg text-center grayscale-0 filter transition-all duration-500 sm:shadow-sm sm:shadow-stone-950 ">
                    <div class="bg-[url('{{ spec.icon.url }}')] hover:bg-[url('{{ siteinfo.blank_icon.url }}')] hover:transform-[5%] max-h-48 max-w-48 rounded-lg bg-cover hover:scale-105 hover:duration-700 group-hover:hidden">
                          <img class="visible max-h-48 max-w-48 rounded-lg object-cover transition-all  sm:shadow-lg sm:shadow-stone-950 "
                                src="{{ spec.icon.url }}"
                                alt="image description">
                    </div>
                    <div class="hidden group-hover:block ">
                      <img class="max-h-48 max-w-48 rounded-lg object-cover transition-all   sm:shadow-lg sm:shadow-stone-950"
                                src="{{ siteinfo.blank_icon.url }}"
                                alt="image description">
                          <figcaption class="hover:mix-blend-burn absolute inset-0 mx-auto flex w-full place-items-center items-center justify-center p-2 text-center text-xs text-transparent hover:font-black hover:shadow-2xl hover:shadow-stone-950 sm:text-sm md:text-base md:hover:text-misargreen lg:text-3xl">
                              <div class="z-1 shrink text-center">{{ spec.brief_synopsis }}</div>
                          </figcaption>
                  </figure>
              {% endfor %}
          </div>
        </div>
        <div class="flex mt-4 py-4 w-full items-center justify-center bg-misargray400 text-center  text-stone-700">
            <h2 class="font-serif text-5xl font-bold">MISAR Services:</h2>
        </div>
            <div class="p-4 flex flex-col w-full items-center justify-center bg-misargray400 text-center text-stone-700">
              <div class="flex flex-col items-center justify-center rounded  p-4">
                    <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.6435-9/94978219_10156961898695880_7271089794849964032_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=smazkEwBkPMQ7kNvgGpeSk6&_nc_ht=scontent-msp1-1.xx&oh=00_AYA1d21UVZmfV-Q4jbglPqofy6fjo4WRlzJXraH-OjDVfg&oe=669F6C2D"
                         alt="MISAR Training"
                         class="md:h-1/3 md:w-1/3 rounded-lg border-4 shadow-md shadow-stone-900 border-spacing-8 border-double border-misarcream">
              </div>
              <h2 class="p-2 font-serif font-bold text-3xl">Emergency Deployment</h2>
              <div class="flex p-2 w-3/4 md:w-1/2">
                <p class="text-xl flex text-wrap">Michigan SAR deploys K9 teams to assist law enforcement agencies in locating missing persons. Our teams are trained in wilderness search and rescue, disaster response, and human remains detection. We are available 24/7 to assist in searches for those in need.</p>
              </div>
            </div>
            <div class="p-4 flex w-full flex-col items-center justify-center bg-misargray400 text-center text-stone-700">
                <div class="flex flex-col items-center justify-center rounded p-4">
                    <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t39.30808-6/448882516_880215377477561_5523350461125081280_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=9CN8hBzn7hYQ7kNvgFiatEo&_nc_ht=scontent-msp1-1.xx&oh=00_AYAyItc8cm5OMnVUvOprkVafI_jkL30lrJeT5n7P_jmozA&oe=667CA31C"
                         alt="MISAR Training"
                         class="md:h-1/3 md:w-1/3 rounded-lg border-4 shadow-md shadow-stone-900 border-spacing-8 border-double border-misarcream">
                </div>
                <h2 class="p-2 font-serif font-bold flex-col text-3xl">Community Education</h2>
                  <div class="p-2 flex w-3/4 md:w-1/2">
                    <p class="flex text-xl max-w-1/2 text-wrap">Michigan SAR offers presentations to community groups, schools, and other organizations. We provide information on search and rescue, wilderness safety, and how to avoid becoming lost. We also offer information on what to do if you become lost, and how to be prepared for a search and rescue operation.</p>
                  </div>
            </div>
            <div class="flex w-full flex-col items-center justify-center bg-misargray400 p-4 text-center text-stone-700">
                <div class="p-4 flex flex-col items-center justify-center rounded">
                    <img src="https://scontent-msp1-1.xx.fbcdn.net/v/t1.6435-9/37809344_10155483378785880_5941495682400518144_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=g1IyTrom5a0Q7kNvgFfxjsg&_nc_ht=scontent-msp1-1.xx&oh=00_AYCECyxGO3w4skfBMH2abkevh8qCuakzAzD-_AUrBFTsZQ&oe=669F0A40"
                         alt="MISAR Training"
                         class="md:h-1/3 md:w-1/3 rounded-lg border-4 shadow-md shadow-stone-900 border-spacing-8 border-double border-misarcream">
                </div>
                <h2 class="font-serif p-2 flex-col font-bold text-3xl">Fundraising</h2>
                <div class="flex mb-6 w-3/4 md:w-1/2 p-2">
                  <p class="flex text-xl max-w-1/2 text-wrap">MISAR is a non-profit organization, therefore we rely on donations to keep our organization running. We host several fundraising events throughout the year to help raise money for training, equipment, and other expenses. We also accept donations through our website and PayPal.</p>
                </div>
      </div>
            <div class="flex h-1/5 w-full flex-col items-center justify-center bg-stone-700  text-center lg:flex-row">
                <div class="flex flex-col-reverse items-center justify-center text-center text-white px-3 lg:flex-col">
                    <div class="mt-6 flex w-full flex-col items-center justify-center text-center">
                        <h2 class="mb-3 mt-6 font-serif text-3xl font-semibold text-misarcream lg:text-6xl">Get Involved</h2>
                        <div class="flex flex-col justify-center gap-2 text-center lg:flex-row">
                            <a href="https://www.paypal.com/donate/?hosted_button_id=QKGJDAUPLV626"
                               class="">
                                <button class="flex w-36 items-center justify-center rounded bg-misargreen px-2 py-2 font-bold text-white hover:bg-white hover:text-black">
                                    Donate
                                </button>
                            </a>
                            <button @click="showVolunteerModal = true"
                                    class="mb-3 flex w-36 items-center justify-center rounded bg-misargreen px-4 py-2 font-bold text-white hover:bg-white hover:text-black">
                                Volunteer
                            </button>
                        </div>
                        <hr class="mx-auto my-3 h-1 w-24 rounded border-0 bg-white dark:bg-white md:my-10">
                        <h2 class="my-2 flex flex-col font-serif text-3xl font-semibold italic text-misarcream hover:text-blue-400 lg:text-5xl">
                            <a href="https://www.facebook.com/Michigan-Search-and-Rescue-128305365879/">Follow Us on
                            Facebook!</a>
                        </h2>
                    </div>
                </div>
                <div class="align-items-center flex  flex-col items-center justify-center">
                    <img src="{{ siteinfo.alternate_logo.url }}"
                         alt="MISAR LOGO"
                         class="flex h-1/2 w-1/2 flex-col object-scale-down py-4">
                </div>
            </div>
      </div>
    </div>
                <!-- large icon modal -->
                <div x-show="showSpecialtyModal"
                     id="specialty-modal"
                     tabindex="-1"
                     class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full items-center justify-center overflow-y-auto overflow-x-hidden p-4 md:inset-0">
                    <div @click.outside="showSpecialtyModal = false"
                         class="max-w-3/4 relative max-h-full w-11/12 rounded-lg shadow-xl shadow-stone-950 md:w-1/2">
                        <!-- modal content -->
                        <div class="relative rounded-lg  shadow">
                            <div id="modal-body"
                                 x-on:htmx:after-settle.window="showSpecialtyModal = true"
                                 class="items-center justify-center space-y-2  rounded-2xl bg-misargray300 p-4 md:p-5">
                                {% partial search_spec_modal %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Large Volunteer Modal-- Does not use a partial -->
                <div x-show="showVolunteerModal"
                     id="volunteer-modal"
                     tabindex="-1"
                     class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full items-center justify-center overflow-y-auto overflow-x-hidden p-4 md:inset-0">
                    <div @click.outside="showVolunteerModal = false"
                         class="md:w-3/3 relative max-h-full w-11/12 rounded-lg bg-stone-200 shadow-xl shadow-stone-950 dark:bg-gray-700">
                        <div class="align-items-right relative mx-4 flex justify-end rounded-lg">
                            <button type="button"
                                    @click="showVolunteerModal = false"
                                    class="my-4 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white md:hidden">
                                <svg class="h-5 w-5"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal content -->
                        <div class="relative rounded-lg bg-white shadow dark:bg-misargrey">
                            <div class="flex flex-row items-center justify-center rounded-t border-b bg-stone-200 p-4 dark:border-gray-600 md:p-5">
                                <h2 class="my-2 flex-col font-serif text-3xl font-black">Interested in Joining or Helping Out?</h2>
                            </div>
                            <div id="volunteer-modal-body"
                                 class="space-y-2 rounded-lg bg-stone-200 p-4 md:p-5">
                                <div class="my-3 flex flex-col items-center justify-center gap-2 text-left text-xl">
                                    <p>
                                        Michigan Search and Rescue trains one weeknight each week and one or two weekend days per month. Visiting handlers and those interested in joining a SAR team are welcome to join us at trainings.
                                    </p>
                                    <br>
                                    <p>
                                        For those considering getting involved in canine search and rescue, we encourage attendance at several training sessions prior to making the commitment.
                                    </p>
                                    <br>
                                    <p>
                                        Prospective Members are subject to a background check and all membes are required to complete field support training, which includes compass, scent theory, radio protocols, crime scene preservation and search strategy. Additionally, members are now required to meet standards set forth by the Michigan Professional Search and Rescue Council (MIPSARC).
                                    </p>
                                    <br>
                                    <p>
                                        Search and rescue often requires driving long distances to participate in training and many hours of training in all types of weather conditions. In addition, many hours must be spent training on your own as well. Searches rarely occur at convenient times and members must be willing to drop everything to participate in a search.
                                    </p>
                                    <br>
                                    <p>
                                        If you are interested in joining, please email us at <a class="text-misargreen" href="mailto:michiganSAR@gmail.com">michiganSAR@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
<!-- Modal body -->
{% partialdef search_spec_modal %}
{% block show_search_spec %}
  <!-- Modal header -->
  <div class="align-items-right mx-4 flex justify-end">
      <button type="button"
              @click="showSpecialtyModal = false"
              class="my-4 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="h-5 w-5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
      </button>
  </div>
  <div class="flex w-full items-center justify-center rounded-t py-2 px-6  md:py-2">
      <h2 class="overflow-wrap break-word word-wrap break-word hyphens-auto mx-8 flex-col font-serif text-5xl font-black">
          {{ specialty.specialty }}
      </h2>
  </div>
  <div class="align-items-center flex w-full flex-col items-center justify-center">
      <img class="visible  max-h-56 max-w-56 flex-row rounded-lg object-cover"
            src="{{ specialty.transparent_icon.url }}"
            alt="search specialty icons">
  </div>
  <div class="my-1 flex flex-col items-center justify-center gap-2 text-left indent-8">
      <p class="my-2 flex-col font-semibold break-normal text-xl text-misarbrown">{{ specialty.long_description_part1 }}</p>
      <p class="my-2 flex-col font-semibold break-normal text-xl text-misarbrown">{{ specialty.long_descript_part2 }}</p>
      <div class="my-2 flex-col">
              <img class="max-h-96 flex-row rounded-lg"
                    src="{{ specialty.specialty_photo.url }}"
                    alt="search specialty icons">
          </div>
      </div>
{% endblock %}
{% endpartialdef %}
