{% extends "home/base.html" %}
{% load static %}
{% load partials %}
{% block content %}
    <div>
        <div class="align-items-center flex h-80 min-w-0 flex-col flex-wrap justify-center bg-cover bg-[top_right_-7rem] py-2 text-center md:bg-fixed lg:h-96 lg:bg-bottom"
             style="background-image: url({{ siteinfo.home_page_image.url }})"></div>
        <div class="flex min-h-96 flex-col items-center justify-center bg-stone-400 py-8 lg:py-[72px]">
            <div class="flex w-5/6 flex-col text-center lg:w-3/4">
                <h2 class="inset-0 pb-2 pt-3 font-serif text-5xl font-bold text-stone-700">Our Mission</h2>
                <p class="inset-0 pb-3 text-xl text-stone-700 md:text-2xl">{{ siteinfo.mission_statement }}</p>
                <hr class="md:40 mx-auto my-4 h-1 w-32 rounded border-0 bg-stone-300 dark:bg-stone-300 md:my-10">
                <h2 class="inset-0 pb-2 pt-3 font-serif text-5xl font-bold text-stone-700">Our Team</h2>
                <p class="inset-0 pb-3 text-xl text-stone-700 md:text-2xl">{{ siteinfo.description }}</p>
            </div>
        </div>
        <div class="max-h-1/6 align-items-center flex flex-col flex-wrap justify-center bg-stone-700 px-8 py-6 text-center lg:py-[72px]">
            <h2 class="my-4 flex flex-col font-serif text-5xl font-bold text-white">Search Specialties</h2>
            <div class="align-items-center  px-auto mx-auto grid grid-cols-2 place-items-center justify-center gap-16 text-center sm:grid-cols-2 md:grid-cols-3">
                {% for spec in search_spec %}
                    <!-- Also the Modal Toggle -->
                    <figure hx-get="{% url 'icon_modal' spec.id %}"
                            hx-trigger="click"
                            hx-target="#modal-body"
                            hx-swap="innerHTML transition:true"
                            class="group relative m-2 cursor-pointer items-center justify-center rounded-lg text-center grayscale-0 filter transition-all duration-500 hover:shadow-2xl hover:shadow-stone-900 sm:shadow-2xl sm:shadow-stone-900 ">
                        <div class="bg-[url('{{ spec.icon.url }}')] hover:bg-[url('{{ siteinfo.blank_icon.url }}')] hover:transform-[5%] max-h-48 max-w-48 rounded-lg bg-cover hover:scale-105 hover:duration-700 group-hover:hidden">
                            <img class="visible max-h-48 max-w-48 rounded-lg object-cover transition-all hover:shadow-2xl hover:shadow-stone-900 sm:shadow-2xl sm:shadow-stone-900 "
                                 src="{{ spec.icon.url }}"
                                 alt="image description">
                        </div>
                        <div class="hidden hover:shadow-2xl hover:shadow-stone-900 group-hover:block sm:shadow-2xl sm:shadow-stone-900">
                            <img class="max-h-48 max-w-48 rounded-lg object-cover transition-all hover:shadow-2xl hover:shadow-stone-900 sm:shadow-2xl sm:shadow-stone-900"
                                 src="{{ siteinfo.blank_icon.url }}"
                                 alt="image description">
                            <figcaption class="hover:mix-blend-burn absolute inset-0 mx-auto flex w-full place-items-center items-center justify-center p-2 text-center text-xs text-transparent hover:font-black md:hover:text-misargreen hover:shadow-2xl hover:shadow-stone-900 sm:text-sm md:text-base lg:text-3xl">
                                <div class="z-1 shrink text-center">{{ spec.brief_synopsis }}</div>
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex h-80 w-full flex-col items-center justify-center bg-stone-400 px-4 text-center">
            <h2 class="pb-3 font-serif text-5xl font-bold text-stone-700">Emergency Dispatch</h2>
            <h4 class="font-[Sedan SC] mb-3 px-4 text-2xl text-stone-700 sm:mx-auto sm:px-6 md:mx-auto md:px-8 lg:mx-32 lg:px-12 xl:mx-64 xl:px-16">
                For Immediate Dispatch of K9 Teams:
            </h4>
            <div class="flex items-center justify-center text-center">
                <a href="tel:18008185645">
                    <button class="flex text-xl w-auto items-center justify-center rounded bg-misargreen px-4 py-2 text-center font-bold text-white hover:bg-red-700 lg:w-56">
                        {{ siteinfo.dispatch_number }}
                    </a>
                </div>
            </div>
            <div class="flex  h-[36rem] w-full flex-col items-center justify-center bg-stone-900 bg-cover bg-fixed bg-top py-32 text-center lg:flex-row lg:py-[72px]"
                 style="background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ siteinfo.home_page_image.url }})">
                <div class="flex w-1/2 flex-col-reverse items-center justify-center text-center text-white sm:px-3 lg:flex-col">
                    <div class="mt-6 flex w-full flex-col items-center justify-center text-center">
                        <h2 class="mb-3 mt-6 font-serif text-3xl font-semibold text-white lg:text-6xl">Get Involved</h2>
                        <div class="flex flex-col justify-center gap-2 text-center lg:flex-row">
                            <a href="https://www.paypal.com/donate/?hosted_button_id=QKGJDAUPLV626"
                               class="">
                                <button class="flex w-36 items-center justify-center rounded bg-misargreen px-2 py-2 font-bold text-white hover:bg-white hover:text-black">
                                    Donate
                                </button>
                            </a>
                            <button @click="showVolunteerModal = true"
                                    class="mb-3 flex w-36 items-center justify-center rounded bg-misargreen px-4 py-2 font-bold text-white hover:bg-white hover:text-black">
                                Volunteer
                            </button>
                        </div>
                        <hr class="mx-auto my-3 h-1 w-24 rounded border-0 bg-white dark:bg-white md:my-10">
                        <h2 class="mb-3 flex flex-col font-serif text-3xl font-semibold italic text-white hover:text-blue-400 lg:text-5xl">
                            <a href="https://www.facebook.com/Michigan-Search-and-Rescue-128305365879/">Follow Us on
                            Facebook!</a>
                        </h2>
                    </div>
                </div>
                <div class="align-items-center flex h-full w-1/2 flex-col items-center justify-center">
                    <img src="{{ siteinfo.alternate_logo.url }}"
                         alt="MISAR LOGO"
                         class="flex h-full w-full flex-col object-scale-down py-4 lg:py-8">
                </div>
                <!-- large icon modal -->
                <div x-show="showSpecialtyModal"
                     id="specialty-modal"
                     tabindex="-1"
                     class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full items-center justify-center overflow-y-auto overflow-x-hidden p-4 md:inset-0">
                    <div @click.outside="showSpecialtyModal = false"
                         class="relative rounded-lg max-h-full w-11/12 md:w-1/2 max-w-3/4 shadow-xl shadow-stone-900">
                        <!-- modal content -->
                        <div class="relative rounded-lg bg-stone-200 shadow dark:bg-gray-700">
                            <div class="align-items-right mx-4 flex justify-end">
                                <button type="button"
                                        @click="showSpecialtyModal = false"
                                        class="my-4 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
                                    <svg class="h-5 w-5"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <div id="modal-body"
                                 x-on:htmx:after-settle.window="showSpecialtyModal = true"
                                 class="items-center justify-center space-y-2  rounded-2xl bg-stone-200 p-4 md:p-5">
                                {% partial search_spec_modal %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Large Volunteer Modal-- Does not use a partial -->
                <div x-show="showVolunteerModal"
                     id="volunteer-modal"
                     tabindex="-1"
                     class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full items-center justify-center overflow-y-auto overflow-x-hidden p-4 md:inset-0">
                    <div @click.outside="showVolunteerModal = false"
                         class="relative max-h-full w-11/12 md:w-3/3 rounded-lg bg-stone-200 shadow-xl shadow-stone-900 dark:bg-gray-700">
                        <div class="relative rounded-lg align-items-right mx-4 flex justify-end">
                            <button type="button"
                                    @click="showVolunteerModal = false"
                                    class="my-4 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white md:hidden">
                                <svg class="h-5 w-5"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal content -->
                        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
                            <div class="flex flex-row items-center justify-center rounded-t border-b bg-stone-200 p-4 dark:border-gray-600 md:p-5">
                                <h2 class="my-2 flex-col font-serif text-3xl font-black">Interested in Joining or Helping Out?</h2>
                            </div>
                            <div id="volunteer-modal-body"
                                 class="space-y-2 rounded-lg bg-stone-200 p-4 md:p-5">
                                <div class="my-3 flex flex-col items-center justify-center gap-2 text-left text-xl">
                                    <p>
                                        Michigan Search and Rescue trains one weeknight each week and one or two weekend days per month. Visiting handlers and those interested in joining a SAR team are welcome to join us at trainings.
                                    </p>
                                    <br>
                                    <p>
                                        For those considering getting involved in canine search and rescue, we encourage attendance at several training sessions prior to making the commitment.
                                    </p>
                                    <br>
                                    <p>
                                        Prospective Members are subject to a background check and all membes are required to complete field support training, which includes compass, scent theory, radio protocols, crime scene preservation and search strategy. Additionally, members are now required to meet standards set forth by the Michigan Professional Search and Rescue Council (MIPSARC).
                                    </p>
                                    <br>
                                    <p>
                                        Search and rescue often requires driving long distances to participate in training and many hours of training in all types of weather conditions. In addition, many hours must be spent training on your own as well. Searches rarely occur at convenient times and members must be willing to drop everything to participate in a search.
                                    </p>
                                    <br>
                                    <p>
                                        If you are interested in joining, please email us at <a class="text-misargreen" href="mailto:michiganSAR@gmail.com">michiganSAR@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        <!-- Modal body -->
        {% partialdef search_spec_modal %}
        {% block show_search_spec %}
            <!-- Modal header -->
            <div class="flex w-full items-center justify-center rounded-t border-b p-4 px-6 dark:border-gray-600 md:p-5">
                <h2 class="overflow-wrap break-word word-wrap break-word hyphens auto m-2 mx-8 flex-col font-serif text-5xl font-black">
                    {{ specialty.specialty }}
                </h2>
            </div>
            <div class="align-items-center flex w-full flex-col items-center justify-center">
                <img class="visible my-2 max-h-56 max-w-56 flex-row rounded-lg object-cover"
                     src="{{ specialty.transparent_icon.url }}"
                     alt="search specialty icons">
            </div>
            <div class="my-1 flex flex-col items-center justify-center gap-2 text-left indent-8">
                <p class="my-2 flex-col break-normal text-xl text-stone-700">{{ specialty.long_description_part1 }}</p>
                <p class="my-2 flex-col break-normal text-xl text-stone-700">{{ specialty.long_descript_part2 }}</p>
                <div class="my-2 flex-col">
                    <h2 .
                        <img class="max-h-96 flex-row rounded-lg"
                             src="{{ specialty.specialty_photo.url }}"
                             alt="search specialty icons">
                    </div>
                </div>
            {% endblock %}
        {% endpartialdef %}
