{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="card home-img-container d-flex text-center bg-dark">
        <img src="{{ siteinfo.home_page_image }}"
             alt="Gratzi"
             class="home-img card-img">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div style="background-color: rgb(105, 100, 100, 0.3)"
                 class="rounded align-self-center mx-auto">
                <h2 class="card-title text-center home">Our Team</h2>
                <blockquote class="blockquote home"
                    <p class="card-text ">{{ siteinfo.description }}</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col home home-container-lt container-fluid d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h2 class="pb-3">Our Mission</h2>
            <blockquote class="blockquote">
                <p class="text-center mx-5">{{ siteinfo.mission_statement }}</p>
            </blockquote>
        </div>
    </div>
    <div class="col home-container home container-fluid d-flex align-items-center justify-content-center bg-dark">
        <div class="text-center">
            <h2 class="pb-3">Our Mission</h2>
            <blockquote class="blockquote">
                <p class="text-center mx-5">{{ siteinfo.mission_statement }}</p>
            </blockquote>
        </div>
    </div>
    <div style="height: 30vh;
                background-color: #55595A"
         class="col home container-fluid d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h2 class="pb-3">Emergency Dispatch</h2>
            <h4 class="pb-2">For Immediate Dispatch of K9 Teams:</h4>
            <a href="tel:18008185645" class="btn btn-danger home-btn btn-lg">Please Call {{ siteinfo.dispatch_number }}</a>
        </div>
    </div>
    <div class="container-fluid text-center bg-dark">
        <div class="row row-cols-2 align-items-center">
            <div class="col p-2 me-auto">
                <img src="{{ siteinfo.alternate_logo }}"
                     alt="MISAR Logo"
                     class="img-fluid rounded"
                     style="max-height: 50vh">
            </div>
            <div class="col p-2 me-auto">
                <h2 class="home">
                    <a href="https://www.facebook.com/Michigan-Search-and-Rescue-128305365879/">Follow Us on Facebook!</a>
                </h2>
                <div class="fb-like"
                     data-href="https://www.facebook.com/profile.php?id=100064673201959"
                     data-width="150"
                     data-layout=""
                     data-colorscheme="dark"
                     data-action=""
                     data-size=""
                     data-share="false"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="background-color: #55595A">
        <div class="row row-cols-2 align-items-center" style="height: 30vh;">
            <div class="col p-2 me-auto">
                <a href="{{ siteinfo.donation_link }}"
                   class="btn btn-danger btn-md home-btn">Donate to MISAR</a>
            </div>
            <div class="col p-2 me-auto">
                <h2 class="home">GET INVOLVED AREA HOLDER</h2>
            </div>
        </div>
    </div>
{% endblock %}
