<!-- templates/registration/password_reset_confirm.html -->
{% extends "home/base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% if validlink %}
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {% crispy form %}
            <input type="submit" value="Change my password">
        </form>
    {% else %}
        <div class="p-8 text-center text-stone-800"
            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </p>
        </div>
    {% endif %}
{% endblock %}
