{% extends 'home/base.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
    <div class="justify-content-center container-fluid text-center bg-secondary text-white">
        <h1>Register</h1>
        <label class="mb-5">
            Please fill in this form to create an account. Intended for current MISAR Members, not potential applicants.
        </label>
    </div>
    <div>
        <form class="text-white max-w-sm mx-auto" method="POST">
            <div class="text-formcontrol mb-5 align-middle">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        </form>
        <div>
            <button>Register</button>
        </div>
        <div class="align-middle text-center text-white">
            <label>
                Already have an account?   <a href="{% url 'login' %}">Login Here</a>
            </label>
        </div>
    </div>
{% endblock %}
