{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <div class="justify-content-center container-fluid text-center bg-secondary text-white">
        <h1>Register</h1>
        <label class="mb-5">
            Please fill in this form to create an account. Intended for current MISAR Members, not potential applicants.
        </label>
    </div>
    <div class="bg-dark text-white container-fluid row justify-content-center">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </form>
                        <br />
                        <div class="justify-content-center row mb-3">
                            <button class="btn btn-secondary">Register</button>
                        </div>
                        <div class="row justify-content-center mb-5"
                            <label>
                                Already have an account?   <a href="{% url 'login' %}">Login Here</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
