{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="flex flex-col items-center justify-center">
        <h1>Create Location Page</h1>
        <br>
        {% if submitted %}
            Your location was created succesfully!
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit"
                       value="Submit"
                       class="inline-flex items-center px-3 py-2 m-3 text-sm font-medium text-center text-white bg-misargreen rounded-lg hover:text-black hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            </form>
        {% endif %}
    </div>
{% endblock %}
