{% extends 'members/base.html' %}
{% load partials %}
{% load crispy_forms_tags %}
{% block content %}
    <div x-data="{showLocationModal: false}"
         class="relative w-full overflow-x-auto shadow-md sm:rounded-lg">
        <form method="post" action="{% url 'location_csv' %}">
            {% csrf_token %}
            <div class="bg-stone-300 pb-4 dark:bg-gray-900">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative mt-1">
                    <div class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
                        <svg class="h-4 w-4 text-gray-500 dark:text-gray-400"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text"
                           id="table-search"
                           class="block w-80 rounded-lg border border-gray-300 bg-gray-50 ps-10 pt-2 text-sm text-gray-900 hover:ring-4 hover:ring-misargreen focus:border-misargreen focus:ring-misargreen dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-misargreen dark:focus:ring-misargreen"
                           placeholder="Search for locations">
                </div>
                <button type="submit"
                        class="m-3 inline-flex items-center rounded-lg bg-misargreen px-3 py-2 text-center text-sm font-medium text-white hover:bg-white hover:text-black hover:ring-4 hover:ring-misargreen focus:outline-none focus:ring-4 focus:ring-misargreen focus:ring-misargreen dark:bg-misargreen dark:hover:bg-misargreen dark:focus:ring-misargreen"
                        href="{% url 'location_csv' %}">Export to CSV</button>
            </div>
            <table id="location-table"
                   class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all-search"
                                       type="checkbox"
                                       class="focus:misargreen h-4 w-4 rounded border-gray-300 bg-gray-100 text-misargreen focus:ring-2 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-misargreen dark:focus:ring-offset-gray-800">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">Location</th>
                        <th scope="col" class="px-6 py-3">Address</th>
                        <th scope="col" class="px-6 py-3">City</th>
                        <th scope="col" class="px-6 py-3">Location Point of Contact</th>
                        <th scope="col" class="px-6 py-3">MISAR Point of Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for location in locations %}
                        <tr class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-{{ location.id }}"
                                           type="checkbox"
                                           value="{{ location.id }}"
                                           name="location_ids"
                                           class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-misargreen focus:ring-2 focus:ring-misargreen dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-misargreen dark:focus:ring-offset-gray-800">
                                    <label for="checkbox-table-search-{{ location.id }}" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
                                <a @click.prevent="showLocationModal = true; openModal({{ location.id }})"
                                   class="text-misargreen"
                                   hx-get="{% url 'show_location' location.id %}"
                                   hx-trigger="click"
                                   hx-target="#inner-popup"
                                   hx-swap="innerHTML"
                                   href="{% url 'show_location' location.id %}">{{ location }}</a>
                            </th>
                            <td class="px-6 py-4">{{ location.address }}</td>
                            <td class="px-6 py-4">{{ location.city }}</td>
                            <td class="px-6 py-4">{{ location.point_of_contact }}</td>
                            <td class="px-6 py-4">{{ location.misar_poc }}</td>
                        </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
        <div class="m-2 flex justify-center">Page {{ locations.number }} of {{ locations.paginator.num_pages }}</div>
        <div class="flex justify-center">
            <div class="flex">
                {% if locations.has_previous %}
                    <a class="ms-3 flex h-8 max-w-xs flex-col items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page=1">&laquo; First</a>
                    <a class="ms-3 flex h-8 max-w-xs flex-row items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page={{ locations.previous_page_number }}">Previous</a>
                {% else %}
                    <a class="ms-3 flex h-8 max-w-xs flex-col items-center justify-center rounded-lg border border-gray-300 bg-gray-400 px-3 text-sm font-medium text-gray-200  dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
                       href="?page=1">&laquo; First</a>
                    <a class="ms-3 flex h-8 max-w-xs flex-col items-center justify-center rounded-lg border border-gray-300 bg-gray-400 px-3 text-sm font-medium text-gray-200  dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
                       href="">Previous</a>
                {% endif %}
                {% if locations.has_next %}
                    <a class="ms-3 flex h-8 max-w-xs flex-row items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page={{ locations.next_page_number }}">Next</a>
                    <a class="ms-3 flex h-8 max-w-xs flex-row items-center justify-center rounded-lg border border-gray-300 bg-white px-3 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                       href="?page={{ locations.paginator.num_pages }}">Last &raquo;</a>
                {% else %}
                    <a class="ms-3 flex h-8 max-w-xs flex-row items-center justify-center rounded-lg border border-gray-300 bg-gray-400 px-3 text-sm font-medium text-gray-200  dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
                       href="">Next</a>
                    <a class="ms-3 flex h-8 max-w-xs flex-row items-center justify-center rounded-lg border border-gray-300 bg-gray-400 px-3 text-sm font-medium text-gray-200  dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
                       href="?page={{ locations.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
                <br>
            </div>
            <div x-show="showLocationModal"
                 id="popup-modal"
                 tabindex="-1"
                 class="fixed left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden backdrop-blur-md md:inset-0">
                <div @click.outside="showLocationModal = false"
                     class="relative rounded-lg shadow-xl dark:bg-gray-700">
                    <button type="button"
                            @click="showLocationModal = false"
                            class="absolute end-2.5 top-3 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="popup-modal">
                        <svg class="h-3 w-3"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div id="inner-popup"
                         class="flex w-full items-center justify-between rounded bg-stone-100 p-2 md:p-2 "></div>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- START OF PARTIALS -->
    <!-- BEGIN SHOW_LOCATION PARTIAL -->
    {% partialdef show_location %}
    <div class="flex w-full items-center justify-between bg-stone-200">
        <div class="flex justify-end px-4 pt-4">
            <div class="mt-3 flex flex-col place-content-center pb-10">
                <h5 class="mb-1 text-xl font-medium text-black dark:text-white">Location: {{ location }}</h5>
                <span class="text-sm text-black dark:text-black">
                    <ul class="">
                        <li>{{ location.address }}</li>
                        <li>{{ location.city }}, {{ location.state }} {{ location.zip_code }}</li>
                        {% if location.point_of_contact %}
                            <b>Point of Contact:<b>
                            </li>
                            <li>{{ location.point_of_contact }}</li>
                            <li>{{ location.phone_number }}</li>
                            <li>{{ location.email }}</li>
                        {% endif %}
                        {% if location.website %}
                            <b>Website:</b>
                            <li>{{ location.website }}</li>
                        </ul>
                    {% endif %}
                </span>
                <div class="mt-4 flex justify-center md:mt-6">
                    <button href="{% url 'update_location' location.id %}"
                            class="dark:hover-text-white inline-flex items-center rounded-lg bg-misargreen px-3 py-2 text-center text-sm font-medium text-white hover:bg-white hover:ring-4 focus:outline-none focus:ring-4 focus:ring-misargreen dark:bg-misargreen dark:hover:bg-white dark:focus:ring-misargreen">
                        Edit Location
                    </button>
                    <button hx-confirm="Are you sure you want to delete this location?"
                            class="inline-flex items-center rounded-lg bg-misargreen px-3 py-2 text-center text-sm font-medium text-white hover:bg-misargreen focus:outline-none focus:ring-4 focus:ring-misargreen dark:bg-misargreen dark:hover:bg-misargreen dark:focus:ring-misargreen">
                        Delete Event
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endpartialdef %}
<!-- BEGIN EDIT LOCATION PARTIAL -->
<!-- BEGIN SHOW_LOCATION PARTIAL -->
