{% load crispy_forms_tags %}
<div class="bg-neutral-200 w-full flex items-center justify-between">
  <div class="flex justify-end px-4 pt-4">
    <div class="flex flex-col pb-10 place-content-center">
      <h5 class="mb-1 text-xl font-medium text-black dark:text-white">Location: {{ location }}</h5>
      <span class="text-sm text-black dark:text-black">
        <ul class="">
          <li>{{ location.address }}</li>
          <li>{{ location.city }}, {{ location.state }} {{ location.zip_code }}</li>
          {% if location.point_of_contact %}
          <b>Point of Contact:<b>
              </li>
              <li>{{ location.point_of_contact }}</li>
              <li>{{ location.phone_number }}</li>
              <li>{{ location.email }}</li>
              {% endif %}
              {% if location.website %}
              <b>Website:</b>
              <li>{{ location.website }}</li>
        </ul>
        {% endif %}
      </span>
      <div class="flex justify-center mt-4 md:mt-6">
        <button hx-get="{% url 'update_location' location.id %}" hx-trigger="click" hx-target="#inner-popup"
          hx-swap="innerHTML"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Edit Location
        </button>
      </div>
    </div>
  </div>
</div>
