{% extends 'members/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center mb-6">
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-xl font-bold">Update Location</h1>
    {% if submitted %}
    Your location was updated succesfully!
    {% else %}
    <form action="." method=POST>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="justify-center items-center flex">
      <input type="submit" value="Submit"
        class="my-2 mb-3 me-2 ms-2 inline-flex w-1/2 flex-row items-center justify-center rounded-lg bg-misargreen px-2 py-2.5 text-center text-sm font-bold text-white  hover:bg-white hover:text-black focus:outline-none focus:ring-4 focus:ring-misargreen dark:bg-misargreen dark:hover:bg-white dark:hover:text-black dark:focus:ring-offset-black">
          </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
