{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
        <link rel="shortcut icon" href="{% static 'home/favicon.ico' %}" />
        <script src="{% static 'home/htmx.min.js' %}" defer></script>
        <script src="{% static 'home/cdn.min.js' %}" defer></script>
        <title>Michigan Search and Rescue</title>
        <script>
    document.addEventListener('DOMContentLoaded', function () {
      var personalTable = document.getElementById('personal-table');
      var uploadForm = document.getElementById('upload-form');
      var editEventForm = document.getElementById('edit-event-form');

      if (personalTable) {
        personalTable.addEventListener('htmx:afterSwap', function (event) {
          if (uploadForm) {
            uploadForm.reset();
          }
          showModal = false;
        });
      }

      window.validateForm = function () {
        if (uploadForm) {
          return uploadForm.checkValidity();  // Allow the form to be submitted if it's valid
        }
        if (editEventForm) {
          return editEventForm.checkValidity();  // Allow the form to be submitted if it's valid
                  }
        return false;
      }
    });
        </script>
    </head>
    <body x-data='{ showEditEventModal: false}'
          hx-boost="true"
          hx-headers='{X-CSRFToken": "{{ csrf_token }}"}'
          class="flex flex-shrink flex-col bg-stone-300 dark:bg-stone-800">
        {% tailwind_css %}
        {% include 'members/includes/navbar_members.html' %}
        {% block content %}{% endblock %}
    </body>
</html>
