{% extends 'members/base.html' %}
{% load tailwind_filters %}
{% load membertags %}
{% load static %}
{% block content %}
    <div class="p-8 text-center mx-auto justify-center items-center text-stone-800">
        <div class="mb-5">
            <h2 class="mb-3">Member File Storage</h2>
            <a href="{% url 'upload' %}">
                <button data-modal-target="upload-modal"
                        data-modal-target="upload-modal"
                        type="button"
                        class="px-2 text-white bg-misargreen hover:bg-neutral-500 focus:ring-4 focus:outline-none focus:ring-misargreen font-medium rounded-lg text-sm  py-2.5 text-center inline-flex items-center me-2 ms-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-[18px] h-[18px] text-gray-800 dark:text-white"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor"
                         viewBox="0 0 20 20">
                        <path d="m14.707 4.793-4-4a1 1 0 0 0-1.416 0l-4 4a1 1 0 1 0 1.416 1.414L9 3.914V12.5a1 1 0 0 0 2 0V3.914l2.293 2.293a1 1 0 0 0 1.414-1.414Z" />
                        <path d="M18 12h-5v.5a3 3 0 0 1-6 0V12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
                    </svg>
                    <label class="px-2 font-semibold">Upload</label>
                </button>
            </a>
        </div>
        <div class="mx-auto relative overflow-x-auto shadow-md sm:rounded-lg w-1/2">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">File Name</th>
                        <th scope="col" class="px-6 py-3">File Type</th>
                        <th scope="col" class="px-6 py-3">File Size</th>
                        <th scope="col" class="px-6 py-3">Share</th>
                        <th scope="col" class="px-6 py-3">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in memberfiles %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-6 py-4 text-gray-900 font-large whitespace-nowrap dark:text-white">
                                {{ file.file_name }}
                            </th>
                            <td class="px-6 py-4">{{ file.file.name|extension }}</td>
                            <td class="px-6 py-4">{{ file.file.size|filesize }}</td>
                            <td class="px-6 py-4">
                                <a href="#"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Share File</a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="{% url 'delete_file' file.id %}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Shared Files</h2>
        Here is a list of files that others have shared with you:
        <div class="mx-auto relative overflow-x-auto shadow-md sm:rounded-lg w-1/2">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">File Name</th>
                        <th scope="col" class="px-6 py-3">File Type</th>
                        <th scope="col" class="px-6 py-3">File Size</th>
                        <th scope="col" class="px-6 py-3">Share</th>
                        <th scope="col" class="px-6 py-3">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in sharedfiles %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-6 py-4 text-gray-900 font-large whitespace-nowrap dark:text-white">
                                {{ file.file_name }}
                            </th>
                            <td class="px-6 py-4">{{ file.file.name|extension }}</td>
                            <td class="px-6 py-4">{{ file.file.size|filesize }}</td>
                            <td class="px-6 py-4">
                                <a href="#"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Share File</a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="{% url 'delete_file' file.id %}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </div>
            {% endblock %}
