{% extends 'members/base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load membertags %}
{% load static %}
{% load partials %}
<!-- Main Page HTML -->
{% block content %}
<div class="mx-auto my-2 min-w-0 items-center justify-center text-center text-stone-800 sm:w-full  lg:p-6">
  <section id="messages">
    {% partial messages %}
  </section>
  <h2 class="text-4xl font-bold text-misargreen">Member File Storage</h2>
  <h2 class="text 3xl m-3 font-semibold text-black dark:text-white">Your Files</h2>
  <div x-data="{ showModal: false }" class="m-3 flex flex-row place-content-around">
    <a href="javascript:void(0);">
      <!-- File Upload Modal toggle -->
      <button @click="showModal = true" data-modal-target="upload-modal" data-modal-toggle="upload-modal"
        class="mb-3 me-2 ms-2 inline-flex items-center rounded-lg bg-misargreen px-2 py-2.5 text-center text-sm  font-medium text-white hover:bg-neutral-500 focus:outline-none focus:ring-4 focus:ring-misargreen dark:bg-misargreen dark:hover:bg-neutral-500 dark:focus:ring-4"
        type="button">
        <svg class="h-[18px] w-[18px] text-gray-800 dark:text-white" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="m14.707 4.793-4-4a1 1 0 0 0-1.416 0l-4 4a1 1 0 1 0 1.416 1.414L9 3.914V12.5a1 1 0 0 0 2 0V3.914l2.293 2.293a1 1 0 0 0 1.414-1.414Z" />
          <path
            d="M18 12h-5v.5a3 3 0 0 1-6 0V12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
        </svg>
        <label class="px-2 font-semibold">Upload</label>
      </button>
    </a>
    <!-- File Upload Main modal -->
    <div x-show="showModal" id="upload-modal" tabindex="-1" aria-hidden="true"
      class="fixed  left-0 right-0 top-0 z-50 flex h-[calc(100%-1rem)] max-h-full w-full items-center  justify-center overflow-y-auto overflow-x-hidden backdrop-blur-md md:inset-0">
      <div @click.outside="showModal=false" class="relative max-h-full w-full max-w-md p-4">
        <!-- File Upload Modal content -->
        <div class="relative rounded-lg bg-neutral-300 shadow-2xl shadow-slate-900 dark:text-stone-800">
          <!-- File Upload Modal header -->
          <div class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Upload Files</h3>
            <button @click="showModal = false" type="button"
              class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="upload-modal">
              <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Start of File Upload Modal body -->
          <div class="flex items-center justify-center">
            <form hx-post="{% url 'files' %}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#personal-table"
              action="." id="upload-form" class="mx-auto max-w-md items-center justify-center text-black" method="POST"
              enctype="multipart/form-data" onsubmit="return validateForm()"
              @submit.debounce.200ms="showModal = false; $el.reset()">
              <div class="text-formcontrol mb-5 cursor-text items-center justify-center text-center align-middle">
                {% csrf_token %}
                {% crispy form %}
                <input type="submit" value="Upload"
                  class="w-36 items-center justify-center rounded bg-misargreen px-4 py-2 font-bold hover:bg-white hover:text-black">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of File Upload Modal body -->
  <div hx-get="{% url 'files' %}" hx-trigger="load" hx-swap="outerHTML" hx-target="personal-table" hx-select="table"
    class="items-center justify-between">
      <div class="lg:max-w-2/3 sm:max-w-2/3 relative flex flex-col overflow-x-auto" id="personal-files-table">{% partial personal-table %}</div>
    </div>
  </div>
<!-- The Beginning of the Share files Table -->
  <div class="mx-auto my-2 min-w-0 items-center justify-center text-center text-stone-800 sm:w-full  lg:p-6">
    <h2 class="text 3xl mt-3 font-semibold text-black dark:text-white md:m-3">Shared Files</h2>
    <div class="flex flex-col justify-between dark:text-white md:m-3">
      <p class="md:mb-3">Here is a list of files that others have shared with you:</p>
      <div id="shared-files-table" class="sm:max-w-2/3 lg:max-w-2/3 relative overflow-x-auto rounded-lg">
        {% partial shared-files-table %}
      </div>
    </div>
  </div>

{% endblock %}
<!-- BEGINNING OF THE PARTIALS -->
<!-- PERSONAL TABLE PARTIAL HTML -->
{% partialdef personal-table %}
<body class="flex items-center justify-center">
<!-- <div class="container w-full"> -->
<table id="personal-table" class="flex-no-wrap my-5 flex w-full min-w-0 flex-row overflow-hidden rounded-lg  sm:bg-white sm:shadow-lg">
  <thead class="text-white">
    {% for file in memberfiles %}
    <tr class="flex-no wrap mb-2 flex flex-col rounded-b-lg border bg-stone-500 sm:mb-0 sm:table-row sm:rounded-t-lg">
      <th class="h-12 border border-stone-600 bg-stone-800 px-3 py-2 text-left md:bg-stone-500">File Name</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Description</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Type</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Size</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Added</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Share</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Delete</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Download</th>
    </tr>
    {% endfor %}
  </thead>
      <tbody class="rounded-1 flex-1 rounded-b-lg sm:flex-none">
      {% for file in memberfiles %}
    <tr class="flex-no wrap mb-2 flex flex-col rounded-b-lg border bg-white sm:mb-0 sm:table-row sm:rounded-t-lg">
      <td class="h-12 border bg-stone-800 px-3 py-2 text-white md:bg-white md:text-black">
        <a href="{{ file.file.url }}">{{ file.file_name }}</a>
      </td>
      <td class="h-12 border px-3 py-2">{{ file.file_description }}</td>
      <td class="h-12 border px-3 py-2">{{ file.file.name|extension }}</td>
      <td class="h-12 border px-3 py-2">{{ file.file.size|filesize }}</td>
      <td class="h-12 border px-3 py-2">{{ file.date_created|date:"m/d/y" }}</td>
      <td class="h-12 border px-3 py-2" x-data="{ showShareModal: false }">
        <a @click="showShareModal = true" data-modal-target="share-modal" data-modal-toggle="share-modal"
          href="{% url 'share' file.id %}"
          class="text-misargreen hover:underline dark:text-misargreen">Share
          File</a>
      </td>
      <td class="h-12 border px-3 py-2">
        <span hx-delete="{% url 'delete_file' file.id %}" hx-target="#personal-files-table"
          hx-confirm="Are you sure you want to delete this file?"
          class="text-red-600 hover:cursor-pointer hover:underline dark:text-red-500">Delete</span>
      </td>
      <td class="h-12  border px-3 py-2">
        <a href="{% url 'download' file.id %}"
          class="text-misargreen hover:underline dark:text-misargreen">Download</a>
      </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>
</body>
{% endpartialdef %}
<!-- MESSAGES - TOAST - PARTIAL HTML -->
{% partialdef messages %}
{% if messages %}
{% for message in messages %}
<div x-init="setTimeout(() => dismissed=true, 2500)" x-data="{dismissed: false}" x-show="!dismissed">
  {% if message.tags == 'error' %}
  <div id="toast-warning"
    class="fixed inset-x-0 top-0 z-50 flex w-full max-w-sm items-center justify-center rounded-lg bg-white p-4 text-red-600 shadow dark:bg-gray-800 dark:text-gray-400"
    role="alert">
    <div
      class="inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-lg bg-orange-100 text-red-500 dark:bg-orange-700 dark:text-orange-200">
      <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
      </svg>
      <span class="sr-only">Warning icon</span>
    </div>
    <div class="ms-3 text-sm font-normal">{{ message }}</div>
    <button @click="dismissed=true" type="button"
      class="-mx-1.5 -my-1.5 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-white p-1.5 text-gray-400 hover:bg-gray-100 hover:text-gray-900 focus:ring-2 focus:ring-gray-300 dark:bg-gray-800 dark:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white"
      data-dismiss-target="#toast-warning" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
    </button>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endpartialdef %}
<!-- SHARED FILES TABLE PARTIAL HTML -->
{% partialdef shared-files-table %}
<body class="flex items-center justify-center">
<!-- <div class="container w-full"> -->
<table id="shared-table" class="flex-no-wrap my-5 flex w-full min-w-0 flex-row overflow-hidden rounded-lg  sm:bg-white sm:shadow-lg">
  <thead class="text-white">
    {% for file in sharedfiles %}
    <tr class="flex-no wrap mb-2 flex flex-col rounded-b-lg border bg-stone-500 sm:mb-0 sm:table-row sm:rounded-t-lg">
      <th class="h-12 border border-stone-600 bg-stone-800 px-3 py-2 text-left md:bg-stone-500">File Name</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Description</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Type</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Size</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">File Added</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Share</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Delete</th>
      <th class="h-12 border border-stone-600 px-3 py-2 text-left">Download</th>
    </tr>
    {% endfor %}
  </thead>
  <tbody class="rounded-1 flex-1 rounded-b-lg sm:flex-none">
    {% for file in sharedfiles %}
    <tr class="flex-no wrap mb-2 flex flex-col rounded-b-lg border bg-white sm:mb-0 sm:table-row sm:rounded-t-lg">
      <td class="h-12 border bg-stone-800 px-3 py-2 text-white md:bg-white md:text-black">
        <a href="{{ fil.file.url }}">{{ file.file_name }}</a>
      </th>
      <td class="h-12 border px-3 py-2">{{ file.file_description }}</td>
      <td class="h-12 border px-3 py-2">{{ file.file.name|extension }}</td>
      <td class="h-12 border px-3 py-2">{{ file.file.size|filesize }}</td>
      <td class="h-12 border px-3 py-2">{{ file.date_created|date:"m/d/y" }}</td>
      <td class="h-12 border px-3 py-2">
        <a href="{% url 'share' file.id %}"
          class="font-medium text-misargreen hover:underline dark:text-misargreen">Share
          File</a>
      </td>
      <td class="h-12 border px-3 py-2">
        <span hx-delete="{% url 'delete_file' file.id %}" hx-target="#shared-files-table"
          hx-confirm="Are you sure you want to delete this file?"
          class="font-medium text-red-600 hover:cursor-pointer hover:underline dark:text-red-500">Delete</span>
      </td>
      <td class="h-12 border px-3 py-2">
        <a href="{% url 'download' file.id %}"
          class="font-medium text-misargreen hover:underline dark:text-misargreen">Download</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% partial messages %}
<section id="messages" hx-swap-oob="true" hx-swap="innerHTML">
</section>
{% endpartialdef %}
