{% extends "members/base.html" %}
{% load static %}
{% block content %}
    <div class="items-center p-8 text-center w-full">
        <h1 class="my-2 font-serif text-5xl font-bold text-black">Welcome {{ request.user.username }}!</h1>
        <h2 class="my-2 mt-8 text-3xl font-semibold text-black">Important Links:</h2>
        <a class="font-semibold underline hover:text-red-900"
           href="{% url 'files' %}">Member Files Page</a>
        <br>
        <a class="font-semibold underline hover:text-red-900"
           href="{% url 'all_events' %}">Events Page</a>
        <br>
        <a class="font-semibold underline hover:text-red-900"
           href="{% url 'location_list' %}">Locations Page</a>
        <h2 class="my-2 mt-8 text-3xl font-semibold text-black">Important Files:</h2>
        <div class="text-left">
            <ul class="flex flex-col items-center list-disc justify-center">
                {% for file in team_files %}
                    <li>
                        <a class="font-semibold underline hover:text-red-900"
                           href="{{ file.url }}">{{ file }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h2 class="my-2 mt-8 text-3xl font-semibold text-black">External Resources:</h2>
        <div class="text-left">
            <ul class="flex flex-col items-center list-disc justify-center">
                {% for reference in external_references %}
                    <li>
                        <a class="font-semibold underline hover:text-red-900"
                           href="{{ reference.file.url }}">{{ reference.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
